header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
}
header div ul {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  align-items: center;
}

header div ul li {
  margin: 1em;
  padding: 10px;
  border-color: #0c0c0c;
  list-style-type: none;
  font: normal normal normal 22px/26px Helvetica LT Std;
  text-transform: capitalize;
}

header div ul li a {
  color: #0A0A0A;
  text-decoration: none;
}

header div ul li a:hover {
  text-decoration: underline;
  color: #0A0A0A;
}

header img {
  height: 10vh;
}

.button {
  background-color: #22FF06;
  height: 5vh;
  width: auto;
  border: none;
  color: #0A0A0A;
  margin: 0px;
}

body {
  margin: 0px;
  font-family: "Overpass", sans-serif;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

/* Hero */
.texthead{
  display: flex;
  padding: 20px;
  background-image: url("hero.jpg");
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: auto;
  background-color: rgb(227, 227, 227);
  color: rgb(235, 232, 233);
}

.textheadcontent{
  position: absolute;
  width: 100%;

}

.texthead h2 {
  font-size: 45px;
}

.texthead hr{
  height: 3px;
  background-color: black;
}

.texthead img{
  visibility: hidden;
}

html body [data-ca3_iconfont="ETmodules"]::before {
  font-family: "ETmodules";
}
[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
  height: 250px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
/* einde hero*/


.mySlides {display: none;}
img {vertical-align: middle;}

body{
  margin: 0px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 40%;
  position: relative;
  margin: auto;
}

.arrow {
  height: 40vh;
  color: rgb(26, 24, 24);
  display: flex;
  background-color: #3C3C3C ;
}

.slideshow-container {
  max-width: auto;
  clip-path: polygon(30% 0%, 100% 0%, 100% 75%, 100% 100%, 1000% 100%, 100% 100%, 0% 100%);
}

.active {
  background-color: #717171;
}

/* Fading slider animatie */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*footer*/
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    max-width: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
  display: flex;
  justify-content: space-around;
}

.footer-menu ul{
  list-style-type: none;
}

.footer-menu ul li{
  margin-bottom: 6px;
}

.footer-menu ul li a{
  text-decoration: none;
  color: white;
}

#socials{
  display: flex;
  justify-content: center;
}
#socials li a{
  padding: 0;
}

.mapouter{
  margin: 10px;
}

/*social icons*/
.fa {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  margin: 5px 2px;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 35px;
  height: 35px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


/*# sourceMappingURL=stedelijk.css.map */


