.button{
  margin: 5px;
  padding: 7.5px;
  border-radius: 8px;
  max-width: 6.5rem;
  color: $button-text-color;
  text-decoration: none;
  text-align: center;
}

.button-red:hover{
  background-color: $blue-button-color;
  transition-delay: revert;
  color: black;
}

.button-blue:hover{
  background-color: $red-button-color;
  color: white;
}

.button-red{
  background-color: $red-button-color;
}

.button-blue{
  background-color: $blue-button-color;
  color: black;
}