header{
  display: flex;
  justify-content: space-between;
  background-color: $menu-bg-color;
  align-items: center;
  div {

    ul{
      display: flex;
      justify-content: center;
      background-color: $menu-bg-color;
      align-items: center;

      li {
        margin: 10px;
        padding: 10px;
        border-color: #0c0c0c;
        list-style-type: none;
        font: $menu-item-font;
        text-transform: capitalize;

        a {
          color: $menu-text-color;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
          color: $menu-text-color;
        }
      }

    }
  }
  img{
    top: 16px;
    left: 100px;
    width: 51px;
    height: 71px;
  }

}
.button{
  background-color: $button-color;
  top: 36px;
  left: 1481px;
  width: 187px;
  height: 32px;
  border: none;
  color: $menu-text-color;
  margin: 5px;
}