//Menu colors
$menu-bg-color: #FFFFFF;
$menu-item-font:  normal normal normal 22px/26px Helvetica LT Std;
$menu-text-color: #0A0A0A;

//General colors
$bg-color: #ffffff;
$text-color: #000000;

//link colors

//Button
$button-font: normal normal normal 15px/18px Helvetica LT Std;
$button-color: #22FF06;

