$text-color: #FF0000;
$bg-color: white;
$font-size: 16px;

body{
  color: $text-color;
  background-color: $bg-color;
  font-size: $font-size;
}

ul{
  background-color: turquoise;
  padding: 10px;

  li{
    color: blue;
    margin: 17px;

    a, a:hover{
      color: yellow;
    }
  }
}